body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('login.jpg');
    background-size: cover;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px; 
    text-align: center;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 15px 30px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.input-group {
    margin-bottom: 20px; 
}


.register-link {
    margin-top: 10px;
}



}
